body {
    background-image: url('cowley-1151282.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: #fff;
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

.header {
    background-color: #006666;
    color: #fff;
    margin-bottom: 1rem;
    padding: 0.1rem 1rem;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
}

button {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}

button:hover {
    background-color: #33a0ff;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

select {
    background-color: #d9edff;
    border: 3px solid transparent;
    border-radius: 0.25rem;
    font-size: 0.95rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
}