<!DOCTYPE html>

<html lang="en">

    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Quiz App</title>
        <!-- <script>
            // Wait for the DOM to load then run script
            document.addEventListener('DOMContentLoaded', function() {

                // When button is clicked change color to blue
                let buttons = document.querySelectorAll('.button');
                buttons.forEach(function(button) {
                    button.addEventListener('click', function() {
                        // First, reset all buttons to the original color
                        buttons.forEach(function(otherButton) {
                            otherButton.style.backgroundColor = '#d9edff';
                        });

                        // Then, change the clicked button's color to green
                        button.style.backgroundColor = '#33a0ff';
                    });
                });
            });
        </script> -->

    </head>

    <body>
        <div class="header">
            <h1>Quiz App</h1>
        </div>
        <div class="container">
            <form action="/result" method="post">
                {% for x in questions %}
                        <h2>{{ x.question }}</h2>
                        <input type="hidden" name="id{{ loop.index }}" value="{{ x.id }}">
                        <input type="radio" id="{{ loop.index }}option1" name="question{{ loop.index }}" value="{{ x.option1 }}">
                        <label for="{{ loop.index }}option1">{{ x.option1 }}</label>
                        <input type="radio" id="{{ loop.index }}option2" name="question{{ loop.index }}" value="{{ x.option2 }}">
                        <label for="{{ loop.index }}option2">{{ x.option2 }}</label>
                        <input type="radio" id="{{ loop.index }}option3" name="question{{ loop.index }}" value="{{ x.option3 }}">
                        <label for="{{ loop.index }}option3">{{ x.option3 }}</label>
                        <input type="radio" id="{{ loop.index }}option4" name="question{{ loop.index }}" value="{{ x.option4 }}">
                        <label for="{{ loop.index }}option4">{{ x.option4 }}</label>
                        <hr>
                {% endfor %}

                <input type="hidden" name="topic" value="{{ topic }}">
                <button type="submit">Submit</button>
            </form>
        </div>
    </body>

</html>
